@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);




#dropdown-menu-0 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-0 .nav .link,
#dropdown-menu-0 .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-0 .navbar,
#dropdown-menu-0 .dropdown-menu {
  background: #dddddd;
}
#dropdown-menu-0 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-0 .dropdown-menu a:hover,
#dropdown-menu-0 .dropdown-menu a:focus {
  background: #d3d3d3;
}
#dropdown-menu-0 .navbar-toggler {
  color: #000000;
}
#header4-a H1 {
  color: #0275d8;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}
#header4-a P {
  color: #0275d8;
  text-align: center;
  font-size: 32px;
}
#msg-box4-d .mbr-section-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
}
#msg-box4-d .lead P {
  text-align: left;
}
#msg-box4-c .mbr-section-title {
  font-family: 'Montserrat', sans-serif;
}
#msg-box4-c .lead P {
  text-align: left;
}
#msg-box4-12 .mbr-section-title {
  font-family: 'Montserrat', sans-serif;
}
#msg-box4-12 .lead P {
  text-align: left;
}
#msg-box3-4 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-4 .mbr-header .mbr-header__subtext {
  text-align: center;
}

#header3-16 H3 {
  font-family: 'Montserrat', sans-serif;
}
#header3-16 SMALL {
  font-size: 20px;
}
#dropdown-menu-13 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-13 .nav .link,
#dropdown-menu-13 .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-13 .navbar,
#dropdown-menu-13 .dropdown-menu {
  background: #dddddd;
}
#dropdown-menu-13 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-13 .dropdown-menu a:hover,
#dropdown-menu-13 .dropdown-menu a:focus {
  background: #d3d3d3;
}
#dropdown-menu-13 .navbar-toggler {
  color: #000000;
}
#dropdown-menu-w .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-w .nav .link,
#dropdown-menu-w .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-w .navbar,
#dropdown-menu-w .dropdown-menu {
  background: #dddddd;
}
#dropdown-menu-w .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-w .dropdown-menu a:hover,
#dropdown-menu-w .dropdown-menu a:focus {
  background: #d3d3d3;
}
#dropdown-menu-w .navbar-toggler {
  color: #000000;
}

#dropdown-menu-4 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-4 .nav .link,
#dropdown-menu-4 .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-4 .navbar,
#dropdown-menu-4 .dropdown-menu {
  background: #dddddd;
}
#dropdown-menu-4 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-4 .dropdown-menu a:hover,
#dropdown-menu-4 .dropdown-menu a:focus {
  background: #d3d3d3;
}
#dropdown-menu-4 .navbar-toggler {
  color: #000000;
}
#header3-h SMALL {
  font-size: 20px;
}
#header3-h H3 {
  font-family: 'Montserrat', sans-serif;
}


#header3-r H3 {
  font-family: 'Montserrat', sans-serif;
}
#header3-r SMALL {
  font-size: 20px;
}
#header3-v H3 {
  font-family: 'Montserrat', sans-serif;
}
#header3-v SMALL {
  font-size: 20px;
}
#dropdown-menu-2 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2 .nav .link,
#dropdown-menu-2 .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-2 .navbar,
#dropdown-menu-2 .dropdown-menu {
  background: #dddddd;
}
#dropdown-menu-2 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2 .dropdown-menu a:hover,
#dropdown-menu-2 .dropdown-menu a:focus {
  background: #d3d3d3;
}
#dropdown-menu-2 .navbar-toggler {
  color: #000000;
}
